.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    margin: 0 auto;
    height: 200px;
    width: 40%;
}

.ReactModal__Content button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.ReactModalPortal .resultado {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.ReactModalPortal .resultado.correcto {
    color: green;
}

.ReactModalPortal .resultado.incorrecto {
    color: red;
}